body{
    font-family: 'Bitter', serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b7ff00;
}

.history_info_container::-webkit-scrollbar {
    width: 5px;
}

.history_info_container::-webkit-scrollbar-thumb {
  background-color: #696969;
}

.main{
    max-width: 100%;
}

.hero{
    background-color: #202124;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 95vh;
    padding-left: 10vw;
    padding-right: 5vw;
}

.divider{
    height: 15vh;
}

.career{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 950px;
    padding-left: 10vw;
    padding-right: 5vw;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 950px;
    padding-left: 10vw;
    padding-right: 8vw;
    justify-content: center;
}

.contact_message{
    text-align: center;
}

.contact .card{
    width: 100%;
}

.work_history{
    background-color: #202124;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding-left: 10vw;
    padding-right: 5vw; */
}


h1.primary{
    color:white;
    line-height: 70px;
    margin: 0;
    font-size: 70px;
}

h2.primary{
    color:white;
    line-height: 40px;
    margin: 0;
    font-size: 40px;
}

h1.primary_alt{
    color:#202124;
    line-height: 70px;
    margin: 0;
    font-size: 70px;
}

h2.primary_alt{
    color:#202124;
    line-height: 40px;
    margin: 0;
    font-size: 40px;
}

h3.primary_alt{
    color:#202124;
    font-weight: normal;
}

.primary{
    color: #b7ff00;
    font-weight: bold;
}

.secondary{
    color: white;
    font-weight: normal;
}

.history_datetime{
    position: relative;
}

.history_datetime h3{
    font-weight: bold;
}

.history_datetime span{
    color: #b7ff00;
}

.job_title{
    display: none;
    text-align: center;
}

.card:hover .job_title{
    display: block;
}

.card:hover .history_datetime{
    display: none;
}

.right{
    left: 250px;
}

.left{
    right: 250px;
}

.pres_message{
    order: 1;
    align-self: center;
}

.about_content{
    order: 1;
    width: 40vw;
    align-self: center;
    flex-grow:1;
}

.work_history_text{
    order: 2;
    width: 0vw;
    align-self: center;
    flex-grow:1;
    padding: 20px;
}

.history_info_container{
    order: 1;
    background-color: white;
    width: 25vw;
    height: 85vh;
    border-bottom: none;
    padding-left: 4vh;
    color:#202124;
    overflow-y: scroll;
    flex-grow:1;
    align-self: center;
}

.record_info{
    padding-left: 2vw;
    padding-right: 10vw;
}

.record_info p{
    font-weight: 500;
}

.record_title{
    width: fit-content;
}


.work_history_travel_container{
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow:1;
    width: 10vw;
}

.cards_container{
    order: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow:1;
}

.technology_cards1{
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.technology_cards2{
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    border: 5px solid #202124;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.history_cards_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow:1;
    width: 100%;
}

.history_cards_container .card{
    border: 5px solid white;
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: all 300ms ease-out 100ms;
}

.history_cards_container .card:hover{
    /* border: 5px solid #b7ff00; */
    width: 90%;
}

.history_cards_container .card:hover{
    overflow-y: scroll;
}

.history_cards_container .card:hover::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.job_title h2{
    margin-top: 1vh;
}

.job_image{
    width: 180px;
    height: 180px;
}

.job_image img{
    width: inherit;
    position: relative;
    bottom: 50px;
    left: 10px;
}

.card:hover .job_image{
    display: none;
}

.job_info{
    display: none;
    margin-left: 2vw;
}

.card:hover .job_info{
    display: block;
}

.job_info p{
    color: white;
}
.card_content_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.card_content_container h3{
    border-bottom: 5px solid #b7ff00;
}

.card .card_image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.card_image_container img{
    width: inherit;
    height: inherit;
}

.pep_svg{
    position: absolute;
    right: 10vw;
    width: 40vw;
    bottom: -10vw;
}

.pep_svg img{
    width: 100%;
     transform:
        rotate(-15deg);
}

.social_contact{
    order: 3;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.social_contact a{
    color: white; 
    font-size: 40px; 
    padding-bottom: 10px;
}

.contact_links{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
}

.contact_links a{
    color: #202124; 
    font-size: 80px; 
    border-bottom: 5px solid #b7ff00;
}

/* PHONE VERSION */
@media only screen and (max-width: 768px) {
    .social_contact{
        display: none;
    }

    .pep_svg{
        right: 10vw;
        width: 55vw;
        bottom: -15vw;
    }
    
    .hero{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        flex-direction: row;
    }

    .pres_message{
        align-self: center;
    }

    .career{
        padding-left: 2vh;
        padding-right: 2vh;
        justify-content: center;
        height: max-content;
    }

    .card{
        width: 300px;
        margin-left: 0;
    }

    .history_cards_container .card{
        margin-top: 5vh;
    }

    .history_cards_container .card:hover{
        height: 50vh;
    }

    .contact_links a{
        font-size: 50px; 
    }


}

@media only screen and (max-width: 1265px) {

    .work_history{
        height: max-content;
        flex-direction: row;
        padding: 0;
    }

    .career{
        padding-left: 2vh;
        padding-right: 2vh;
        justify-content: center;
        height: max-content;
    }

    .work_history_text{
        margin: 4vh;
        text-align: center;
        order: 1;
        width: max-content;
        flex-grow: 1;
    }

    .history_info_container{
        order: 2;
        width: 50vw;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 40px;
    }

    .work_history_text h1{
        font-size: 50px;
    }

    .left{
        bottom: 50px;
        right: 0px;
    }

    .right{
        bottom: 50px;
        left: 0px;
    }

}

@media only screen and (max-width: 610px) {
    .pres_message{
        padding-left: 4vw;
    }
}
